.container {
  display: grid;
  place-items: center;
  height: 100vh;

  .card {
    width: 30%;
  }

  .input-group {
    flex-direction: column;
    margin-top: 30px;
    justify-content: space-between;
    height: 18vh;
  }

  .card-actions {
    justify-content: center;
  }
}
